/*---Global Styles--*/
:root {
  text-size-adjust: none; /*block mobile devices trying to auto adjust text-size*/
  --similKhaki: 61, 80%, 90%;
  --lightOrange: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --strongOrange: 26, 98%, 47%;
  --blacklight10: 0, 0%, 10%;
  --blacklight20: 0, 0%, 20%;
  --footerColor: 166, 17%, 72%;
  --white: 0, 0%, 100%;
}

body {
  background-color: hsl(var(--lightOrange));
  background-image: linear-gradient(to right, hsl(var(--lightOrange)),
    hsl(var(--similKhaki)) 10% 90%, hsl(var(--lightOrange)));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--similKhaki));
  padding: 4.5rem 0; /*making space for navbar and giving space at section start*/
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--blacklight10));
  margin-bottom: 2rem;
}

/*---Navigation---*/
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(var(--strongOrange), 0.6);
  border-bottom: 1px solid hsla(var(--white), 0.8);
}

header:hover,
header:hover nav a,
header:hover nav a svg{
  background-color: hsl(var(--strongOrange));
  color: white;
  border-color: white;
  fill: white;
  transition: all 400ms ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

img.logonav {
  display: block;
  height: 4rem;  /*This is implicitly setting the height of the nav*/
  margin-left: 1%;
  background: radial-gradient(circle, hsla(0, 0%, 100%,0.3),transparent 80%);
}

a.navitem {
  text-decoration: none;
  color: hsla(var(--white), 0.7);
  border: 1px solid hsla(var(--white), 0.7);
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
}

p.navitemdesc {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  white-space: nowrap; /*Doesn't allow text to wrap, setting a min-width implicitly*/
}

svg.menuicon {
  position: relative;
  top: 2px; /*Aligns icons with text*/
  fill: hsla(var(--white), 0.7);
}

a.navitem:hover {
  color: hsl(var(--blacklight10));
  border-color: hsl(var(--blacklight10));
}

a.navitem:hover .menuicon {
  fill: hsl(var(--blacklight10));
}

/*---Gallery---*/
div.galleria2019 {
  display: grid;
  grid-template-columns: repeat(12, minmax(25%,1fr));
  column-gap: 1rem;
  width: 100%;
  min-height: 10rem;
  margin: 0 auto;
  border-left: 0.5rem solid hsl(var(--strongOrange));
  border-right: 0.5rem solid hsl(var(--strongOrange));
  scroll-behavior: smooth;
  overflow-x: scroll;
  background-color: hsla(var(--lightOrange), 0.7);
}

div.imagecontainer {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
  /* transition: all 1s linear; */
}

div.imagecontainer img {
  position: absolute;
  top: 0;
  width: 100%;
}

div.ghost {
  display:none;
}

div.imagecontainer:focus{
  position: fixed;
  width: 50%;
  padding-top: 37.5%;
  top: 5%;
  left: 25%;
  z-index: 1;
}

div.imagecontainer:focus div.ghost{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

div.imagecontainer:focus img {
  position: absolute;
  top: 0;
}
