:root {
  text-size-adjust: none;
  --bgColor: 61, 80%, 90%;
  --mainColor: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --hlColor: 	26, 98%, 47%;
  --headColor: 0, 0%, 10%;
  --textColor: 0, 0%, 20%;
  --footerColor: 166, 17%, 72%;
  --white: 0, 0%, 100%;
}

body {
    background-color: hsl(var(--mainColor));
    background-image: linear-gradient(to right, hsl(var(--mainColor)),
      hsl(var(--bgColor)) 10% 90%, hsl(var(--mainColor)));
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(var(--hlColor), 0.6);
  border-bottom: 1px solid hsla(var(--white), 0.8);
}

header:hover,
header:hover nav a,
header:hover nav a svg{
  background-color: hsl(var(--hlColor));
  color: white;
  border-color: white;
  fill: white;
  transition: all 400ms ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.logonav {
  display: block;
  height: 4rem;
  margin-left: 1%;
  background: radial-gradient(circle, hsla(0, 0%, 100%,0.3),transparent 80%);
}

.navitem {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: hsla(var(--white), 0.7);
  border: 1px solid hsla(var(--white), 0.7);
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
  white-space: nowrap;
}

.menuicon {
  position: relative;
  top: 2px;
  fill: hsla(var(--white), 0.7);
}

.navitem:hover {
  color: hsl(var(--headColor));
  border-color: hsl(var(--headColor));
}

.navitem:hover .menuicon {
  fill: hsl(var(--headColor));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--bgColor));
  padding: 4.5rem 0;
}

.logotop {
  display: block;
  width:100%;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
}

.manifestdesc {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--textColor));
}

.mainhr {
  width: 70%;
  max-width: 2400px;
  border-top: 0.2rem solid hsl(var(--hlColor));
  border-bottom: 0;
  margin: 0.2rem auto;
}

h1 {
  font-size: 3rem;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--headColor));
  margin-bottom: 2rem;
}

p {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

.subtitle {
  text-align: center;
  color: hsl(var(--textColor));
}

.mesecorrente {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  margin-top: 1rem;
  color: hsl(var(--headColor));
}

.pizzamesebox {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

.pizzamese {
  display: block;
  width: 100%;
  border: 2px solid hsl(var(--hlColor));
  border-radius: 1rem;
}

figcaption {
  font-size: 1.2rem;
  font-family: 'Roboto',cursive;
  font-weight: 300;
  font-style: italic;
}

.menup {
  margin: 0 1rem 2rem 1rem;
}

strong {
  font-weight: bold;
}

.tablecontainer {
  margin: 0 1rem;
}

.menu {
  max-width: 45rem;
  width: 90%;
  margin: 2rem auto 0 auto;
}

.menutitle {
  font-family: 'Playball', Helvetica, sans-serif;
  font-size: 2.5rem;
  color: hsl(var(--hlColor));
  padding: 1rem 0 1rem 0;
}

.nomepizza {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(var(--textColor));
  padding-right: 0.2rem;
}

.prezzopizza {
  font-family: 'Roboto';
  font-size: 1.5rem;
  color: hsl(var(--textColor));
  white-space: nowrap;  /*impedisco il wrap sullo spazio tra prezzo e €*/
  text-align: right;
}

.descpizza {
  font-family: 'Roboto', cursive;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  padding: 0 0.2rem 0.8rem 0;
  border-top: 1px dotted hsla(var(--secColor), 0.4);
  width: 100%;
}

/*Div supplementare che nasconde il padding in eccesso
  derivato dal padding-hack usato per mantenere
  l'aspect-ratio dell'i-frame.
  Definisco qui max-height&width per centrare l'iframe*/
.overflowmanager {
  max-width: 45rem;
  max-height: 34rem;
  overflow: hidden;
  margin: 0 auto;
}

/*Div per padding-hack.
  Il padding % si riferisce alla width del .framecontainer*/
.framecontainer {
  position: relative;
  padding-top: 75%;
}

iframe {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  border: 2px solid hsl(var(--hlColor));
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-height: 34rem;
}

address {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

.indirizzo {
  max-width: 45rem;
  margin: 2rem auto;
}

em {
  font-style: italic;
}

footer {
  background-color: hsla(var(--hlColor), 0.6);
  border-top: 1px solid hsla(var(--textColor), 0.6);
}

.footersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0;
}

.footerlogo {
  width: 8rem;
  margin: 0 2rem;
}

.totop {
  margin: 0 2rem;
}

.footerlink {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--textColor));
}

.footerlink:hover {
  color: hsla(var(--white), 0.6);
}

.contactinfo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(var(--textColor));
  line-height: 2rem;
  margin: 0 2rem;
}

.footerhr {
  width: 99%;
  border-top: 1px solid hsla(var(--white), 0.8);
  border-bottom: 0;
  margin: 0;
}

.social {
  margin: 0 2rem;
}

.socialline {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--textColor));
}

.logosocial {
  position: relative;
  top: 0.3rem;
}

.cr{
  font-size: 0.8rem;
  color: hsl(var(--textColor));
  padding: 0.3rem 0.2rem;
}

@media only screen and (max-device-width: 480px) {
  section {
    width: 90%;
    background-color: transparent;
  }

  .menu {
    width: 100%;
    max-width: none;
  }

  .nomepizza {
    font-size: 2rem;
  }

  .prezzopizza {
    font-size: 2rem;
  }

  .descpizza {
    font-size: 1.2rem;
  }
}
