:root {
  font-size: 18px;
  --bgColor: 61, 80%, 90%;
  --mainColor: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --hlColor: 	26, 98%, 47%;
  --headColor: 0, 0%, 10%;
  --textColor: 0, 0%, 20%;
  --white: 0, 0%, 100%;
}

body {
    background-color: hsl(var(--mainColor));
    background-image: linear-gradient(to right, hsl(var(--mainColor)),
      hsl(var(--bgColor)) 10% 90%, hsl(var(--mainColor)));
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(var(--hlColor), 0.4);
  border-bottom: 1px solid hsla(var(--white), 0.7);
}

header:hover,
header:hover nav a,
header:hover nav a svg{
  background-color: hsl(var(--hlColor));
  color: white;
  border-color: white;
  fill: white;
  transition: all 400ms ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.logonav {
  display: block;
  height: 4rem;
  margin-left: 1%;
  background: radial-gradient(circle, hsla(0, 0%, 100%,0.3),transparent 80%);
}

.navitem {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: hsla(var(--white), 0.7);
  border: 1px solid hsla(var(--white), 0.7);
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
  white-space: nowrap;
}

.menuicon {
  position: relative;
  top: 2px;
  fill: hsla(var(--white), 0.7);
}

.navitem:hover {
  color: hsl(var(--headColor));
  border-color: hsl(var(--headColor));
}

.navitem:hover .menuicon {
  fill: hsl(var(--headColor));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--bgColor));
  padding: 4.5rem 0;
}

.logotop {
  display: block;
  width:100%;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 1.8rem;
}

.manifestdesc {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--textColor));
}

hr {
  width: 70%;
  max-width: 2400px;
  border-top: 0.2rem solid hsl(var(--hlColor));
  border-bottom: 0;
  margin: 0.2rem auto;
}

h1 {
  font-size: 2rem;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--headColor));
  margin-bottom: 2rem;
}

p {
  font-family: 'Roboto', serif;
  font-size: 1.2rem;
}

.subtitle {
  text-align: center;
  color: hsl(var(--textColor));
}

.mesecorrente {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  margin-top: 1rem;
  color: hsl(var(--headColor));
}

.pizzamesebox {
  width: 90%;
  max-width: 45rem;
  margin: 0 auto;
}

.pizzamese {
  display: block;
  width: 100%;
  border: 2px solid hsl(var(--hlColor));
  border-radius: 1rem;
}

figcaption {
  font-size: 1rem;
  font-family: 'Roboto',cursive;
  font-weight: 300;
  font-style: italic;
}

.menup {
  margin: 0 1rem 2rem 1rem;
}

.tablecontainer {
  margin: 0 1rem;
}

.menu {
  max-width: 45rem;
  width: 90%;
  margin: 2rem auto 0 auto;
}

.menutitle {
  font-family: 'Playball', Helvetica, sans-serif;
  font-size: 1.8rem;
  color: hsl(var(--hlColor));
  padding: 1rem 0 1rem 0;
}

.nomepizza {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(var(--textColor));
  padding-right: 0.2rem;
}

.prezzopizza {
  white-space: nowrap;
  text-align: right;
}

.descpizza {
  font-family: 'Roboto', cursive;
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
  padding: 0 0.2rem 0.8rem 0;
  border-top: 1px solid hsla(var(--secColor), 0.4);
  width: 100%;
}

.overflowmanager {
  max-width: 45rem;
  max-height: 34rem;
  overflow: hidden;
  margin: 0 auto;
}

.framecontainer {
  position: relative;
  padding-top: 75%;
}

iframe {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  border: 2px solid hsl(var(--hlColor));
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-height: 34rem;
}

footer {
  background-color: hsl(var(--hlColor));
  font-family: 'Playball', sans-serif;
  font-size: 0.8rem;
}
