/* Font Loading */
/* playball-regular - latin */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/playball-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playball-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v27-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*---Global styles---*/
:root {
  text-size-adjust: none; /*block mobile devices trying to auto adjust text-size*/
  --similKhaki: 61, 80%, 90%;
  --lightOrange: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --strongOrange: 26, 98%, 47%;
  --blacklight10: 0, 0%, 10%;
  --blacklight20: 0, 0%, 20%;
  --footerColor: 166, 17%, 72%;
  --white: 0, 0%, 100%;
}

body {
  background-color: hsl(var(--lightOrange));
  background-image: linear-gradient(to right, hsl(var(--lightOrange)),
    hsl(var(--similKhaki)) 10% 90%, hsl(var(--lightOrange)));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--similKhaki));
  padding: 4.5rem 0; /*making space for navbar and giving space at section start*/
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

address {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

hr.mainhr {
  width: 70%;
  max-width: 2400px;
  border-top: 0.2rem solid hsl(var(--strongOrange));
  border-bottom: 0;
  margin: 0.2rem auto;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--blacklight10));
  margin-bottom: 2rem;
}

h1.sectiontitle {
  margin-top: 2rem;
}

.cooltitle {
  text-shadow: 0.2rem 0.2rem hsla(var(--blacklight20), 0.5);
}

.disclaimer {
  width: 70%;
  border: 0.2rem solid red;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}


/*---Navigation---*/

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(var(--strongOrange), 0.8);
  border-bottom: 1px solid hsla(var(--white), 0.8);
}

header:hover,
header:hover nav a,
header:hover nav a svg{
  background-color: hsl(var(--strongOrange));
  color: white;
  border-color: white;
  fill: white;
  transition: all 400ms ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

img.logonav {
  display: block;
  height: 4rem;  /*This is implicitly setting the height of the nav*/
  width: auto;
  /* margin-left: 1%; */
  /* background: radial-gradient(circle, hsla(0, 0%, 100%,0.3),transparent 80%); */
}

a.navlogo.navitem{
  display: flex;
  border: none;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 1%;
}

a.navitem {
  text-decoration: none;
  color: hsla(var(--white), 0.7);
  border: 1px solid hsla(var(--white), 0.7);
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
}

p.navitemdesc {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  white-space: nowrap; /*Doesn't allow text to wrap, setting a min-width implicitly*/
}

svg.menuicon {
  position: relative;
  top: 2px; /*Aligns icons with text*/
  fill: hsla(var(--white), 0.7);
}

a.navitem:hover {
  color: hsl(var(--blacklight10));
  border-color: hsl(var(--blacklight10));
}

a.navitem:hover .menuicon {
  fill: hsl(var(--blacklight10));
}


/*--- Layout Galleria ---*/

div.slider {
  width: 70%;
  margin: 0 auto;
  overflow-x: hidden;
}

div.display {
  width: 1200%;
  display: flex;
  transition: transform 1s ease-out 0s;
}

div .display.y2018 {
  width: 200%;
}

div .display.y2021{
  width: 400%;
}

div.mantainRatio {
  box-sizing: border-box;
  background: hsl(var(--strongOrange));
  border: 0.2rem solid hsl(var(--strongOrange));
  border-radius: 0.5rem;
  width: 8.3333%;
  position: relative;
  padding-top: calc(6.21% - 0.4rem);
  overflow: hidden;
}

div .mantainRatio.y2018{
  width: 50%;
  padding-top: calc(37.5% - 0.4rem);
}

div .mantainRatio.y2021{
  width: calc(100% / 4);
  padding-top: calc(18.75% - 0.4rem);
}

div.mantainRatio img {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

div.mantainRatio label {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 5%;
  height: 6.6667%; /*Dependant on the div's w/h ratio*/
  background-image: url("./../images/svg/help_orange_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in 0s;
  z-index: 2;
}

div.mantainRatio label img {
  width:100%;
}

div.mantainRatio .listaIngr {
  position: absolute;
  top: -100%;
  width: 100%;
  padding-left: 8%;
  background-color: hsla(var(--lightOrange), 0.8);
  border-bottom: hsl(var(--strongOrange)) solid 0.2rem;
  color: hsl(var(--blacklight10));
  list-style-type: disc;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1.2s linear 0s,
    top 0.8s ease-in-out 0s;
  margin: 0;
  z-index: 1;
}

div.mantainRatio input:checked~.listaIngr {
  top: 0;
  opacity: 1;
}

div.mantainRatio input:checked+.checkLabel {
  background-image: url("./../images/svg/cross_orange_white_24dp.svg");
}

div.slider input {
  display:none;
}

div.sliderNav {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

div .sliderNav.y2018 {
  justify-content: space-around;
}

/* Works on Firefox */
div.sliderNav {
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--lightOrange), 0.5) hsl(var(--strongOrange));
}

/* Works on Chrome, Edge, and Safari */
div.sliderNav::-webkit-scrollbar {
  height: 0.8rem;
}

div.sliderNav::-webkit-scrollbar-track {
  background: hsla(var(--lightOrange), 0.5);
  border-radius: 0.2rem;
}

div.sliderNav::-webkit-scrollbar-thumb {
  background-color: hsl(var(--strongOrange));
  border-radius: 0.2rem;
}

div.sliderNav::before {
  content: "";
  position: sticky;
  left: -0.1rem;
  display: block;
  flex: 0 0 20%;
  padding-top: calc(15% + 2rem);
  background-image: linear-gradient(to right, hsl(var(--similKhaki)) 10%, transparent);
  z-index: 1;
  pointer-events: none;
}

div.sliderNav::after {
  content: "";
  position: sticky;
  right: -0.1rem;
  display: block;
  flex: 0 0 20%;
  padding-top: calc(15% + 2rem);
  background-image: linear-gradient(to left, hsl(var(--similKhaki)) 10%, transparent);
  z-index: 1;
  pointer-events: none;
}

div.sliderNav .radioLabel{
  box-sizing: border-box;
  flex: 0 0 20%;
  position: relative;
  left: -10%;  /* Sets the first thumbnail partially under ::before's transparency*/
  padding-top: calc(15% - 0.4rem);
  margin: 1rem 2%;
  border: 0.2rem solid hsl(var(--strongOrange));
  border-radius: 37.5% 62.5% 37.5% 62.5%;
  overflow: hidden;
}

div .sliderNav.y2018 .radioLabel {
  left: 0;
}

div.sliderNav .radioLabel img {
  position: absolute;
  top:0;
  width: 100%;
}

#radio1y2019:checked~.display,
#radio1y2020:checked~.display {
  transform: translate(0);
}

#radio2y2019:checked~.display,
#radio2y2020:checked~.display {
  transform: translate(-8.33%);
}

#radio3y2019:checked~.display,
#radio3y2020:checked~.display {
  transform: translate(-16.66%);
}

#radio4y2019:checked~.display,
#radio4y2020:checked~.display {
  transform: translate(-25.00%);
}

#radio5y2019:checked~.display,
#radio5y2020:checked~.display {
  transform: translate(-33.33%);
}

#radio6y2019:checked~.display,
#radio6y2020:checked~.display {
  transform: translate(-41.66%);
}

#radio7y2019:checked~.display,
#radio7y2020:checked~.display {
  transform: translate(-50.00%);
}

#radio8y2019:checked~.display,
#radio8y2020:checked~.display {
  transform: translate(-58.33%);
}

#radio9y2019:checked~.display,
#radio9y2020:checked~.display {
  transform: translate(-66.66%);
}

#radio10y2019:checked~.display,
#radio10y2020:checked~.display {
  transform: translate(-75.00%);
}

#radio11y2019:checked~.display,
#radio11y2020:checked~.display {
  transform: translate(-83.33%);
}

#radio12y2019:checked~.display,
#radio12y2020:checked~.display {
  transform: translate(-91.66%);
}

#radio1y2018:checked~.display {
  transform: translate(0);
}

#radio2y2018:checked~.display {
  transform: translate(-50%);
}

#radio1y2021:checked~.display {
  transform: translate(0);
}

#radio2y2021:checked~.display {
  transform: translate(-25%);
}

#radio3y2021:checked~.display {
  transform: translate(-50%);
}

#radio4y2021:checked~.display {
  transform: translate(-75%);
}


/*footer*/
footer {
  background-color: hsla(var(--strongOrange), 0.6);
  border-top: 1px solid hsla(var(--blacklight20), 0.6);
}

div.footersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0;
}

img.footerlogo {
  width: 8rem;
  height: auto;
  margin: 0 2rem;
}

a.totop {
  margin: 0 2rem;
}

a.footerlink {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--blacklight20));
  white-space: nowrap;
}

a.footerlink:hover {
  color: hsla(var(--white), 0.6);
}

address.contactinfo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(var(--blacklight20));
  line-height: 2rem;
  margin: 0 2rem;
}

hr.footerhr {
  width: 99%;
  border-top: 1px solid hsla(var(--white), 0.8);
  border-bottom: 0;
  margin: 0;
}

div.social {
  margin: 0 2rem;
}

p.socialline {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--blacklight20));
}

img.logosocial {
  position: relative;
  top: 0.3rem;
}

p.cr{
  font-size: 0.8rem;
  color: hsl(var(--blacklight20));
  padding: 0.3rem 0.2rem;
}


/*---Media Queries*/

/*Desktop and tablet*/
@media only screen and (min-device-width: 800px) {
  html {
    min-width: 800px;
  }

  header {
    min-width: 800px;
  }
}


/*Tablets*/
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  a.navitemdesc {
    font-size: 1.2rem;
  }

  svg.menuicon {
    width: 1.2rem;
    height: 1.2rem;
  }

  img.logonav {
    height: 2.5rem;
  }
}


/*Mobile*/
@media only screen and (max-device-width: 480px) and (orientation: portrait){
  section {
    width: 100%;
    background-color: transparent;
  }

  a.navitem {
    padding: 0.1rem 0.2rem;
  }

  p.navitemdesc {
    font-size: 1.2rem;
  }

  div.slider {
    width: 100%;
  }

  div.mantainRatio label {
    width: 10%;
    height: 13.3334%;
    font-size: 3.5rem;
  }

  div.mantainRatio .listaIngr {
    font-size: 1.2rem;
  }

  div.sliderNav::before {
    background-image: linear-gradient(to right, hsl(var(--lightOrange)), transparent 20%);
  }

  div.sliderNav::after {
    background-image: linear-gradient(to left, hsl(var(--lightOrange)), transparent 20%);
  }

  img.footerlogo {
    margin: 0 1rem;
  }

  a.totop {
    margin: 0 1rem;
  }

  address.contactinfo {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1rem;
  }

  div.social {
    margin: 0 1rem;
  }
}
