/*Code concerns:
  -I might have used too much specificity when referring to classes
  -:root might be replaced with a simpler html selector
  -vars could be rephrased to be more semantic
  -I could reorded the code into "design sections" instead,
    "page section styles" seem harder to mantain

/*---Global styles---*/
:root {
  text-size-adjust: none; /*block mobile devices trying to auto adjust text-size*/
  --similKhaki: 61, 80%, 90%;
  --lightOrange: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --strongOrange: 26, 98%, 47%;
  --blacklight10: 0, 0%, 10%;
  --blacklight20: 0, 0%, 20%;
  --footerColor: 166, 17%, 72%;
  --white: 0, 0%, 100%;
}

body {
  background-color: hsl(var(--lightOrange));
  background-image: linear-gradient(to right, hsl(var(--lightOrange)),
    hsl(var(--similKhaki)) 10% 90%, hsl(var(--lightOrange)));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--similKhaki));
  padding: 4.5rem 0; /*making space for navbar and giving space at section start*/
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

address {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

hr.mainhr {
  width: 70%;
  max-width: 2400px;
  border-top: 0.2rem solid hsl(var(--strongOrange));
  border-bottom: 0;
  margin: 0.2rem auto;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--blacklight10));
  margin-bottom: 2rem;
}

/*---Navigation---*/

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hsla(var(--strongOrange), 0.8);
  border-bottom: 1px solid hsla(var(--white), 0.8);
}

header:hover,
header:hover nav a,
header:hover nav a svg{
  background-color: hsl(var(--strongOrange));
  color: white;
  border-color: white;
  fill: white;
  transition: all 400ms ease-out;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

img.logonav {
  display: block;
  height: 4rem;  /*This is implicitly setting the height of the nav*/
  margin-left: 1%;
  /* background: radial-gradient(circle, hsla(0, 0%, 100%,0.3),transparent 80%); */
}

a.navitem {
  text-decoration: none;
  color: hsla(var(--white), 0.7);
  border: 1px solid hsla(var(--white), 0.7);
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  margin: 0.1rem 0.1rem;
}

p.navitemdesc {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  white-space: nowrap; /*Doesn't allow text to wrap, setting a min-width implicitly*/
}

svg.menuicon {
  position: relative;
  top: 2px; /*Aligns icons with text*/
  fill: hsla(var(--white), 0.7);
}

a.navitem:hover {
  color: hsl(var(--blacklight10));
  border-color: hsl(var(--blacklight10));
}

a.navitem:hover .menuicon {
  fill: hsl(var(--blacklight10));
}

/*---Manifest---*/
h1.hiddenh1{
  position: absolute;
  left: -9999px;
}

img.logotop {
  display: block;
  width:100%;
  max-width: 800px;
  margin: 0 auto;
}

h3.manifestdesc {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--blacklight20));
}

/*---Mese---*/
p.subtitle {
  text-align: center;
  color: hsl(var(--blacklight20));
}

figure.pizzamesebox {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

img.pizzamese {
  display: block;
  width: 100%;
  border: 2px solid hsl(var(--strongOrange));
  border-radius: 1rem;
}

figcaption.pizzamesedesc {
  font-size: 1.2rem;
  font-family: 'Roboto',cursive;
  font-weight: 300;
  font-style: italic;
  padding: 1rem 0;
}

h3.mesipassati {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsla(var(--white), 0.8);
}

.sitelink {
  display: block;
  text-decoration: none;
  background-color: hsla(var(--strongOrange), 0.7);
  border: 0.2rem solid hsl(var(--strongOrange));
  border-radius: 3px;
  padding: 0.5rem 1rem;
  max-width: 25rem;
  margin: 2rem auto;
}

.sitelink:hover h3{
  color: hsla(var(--white), 1);
}

.sitelink:hover {
  background-color: hsla(var(--strongOrange),0.9);
}

.sitelink:active h3 {
  color: hsla(var(--white), 0.7);
}

.sitelink:active {
  background-color: hsla(var(--strongOrange),0.5);
  border-width: 0.15rem;
  margin-top: 2.1rem;

}

/*---Menù---*/
p.menup {
  margin: 0 1rem 2rem 1rem;
}

div.tablecontainer {
  margin: 0 1rem;
}

table.menu {
  max-width: 45rem;
  width: 90%;
  margin: 2rem auto 0 auto;
}

th.menutitle {
  font-family: 'Playball', Helvetica, sans-serif;
  font-size: 2.5rem;
  color: hsl(var(--strongOrange));
  padding: 1rem 0 1rem 0;
}

td.nomepizza {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(var(--blacklight20));
  padding-right: 0.2rem;
}

td.prezzopizza {
  font-family: 'Roboto';
  font-size: 1.5rem;
  color: hsl(var(--blacklight20));
  white-space: nowrap;  /*impedisco il wrap sullo spazio tra prezzo e €*/
  text-align: right;
}

td.descpizza {
  font-family: 'Roboto', cursive;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  padding: 0 0.2rem 0.8rem 0;
  border-top: 1px dotted hsla(var(--secColor), 0.4);
  /* width: 100%; */
}

td.placehold {
  border-top: 1px dotted hsla(var(--secColor), 0.4);
}

/*---Dove Siamo---*/
/*Div supplementare che nasconde il padding in eccesso
  derivato dal padding-hack usato per mantenere
  l'aspect-ratio dell'i-frame.
  Definisco qui max-height&width per centrare l'iframe*/
div.overflowmanager {
  max-width: 45rem;
  max-height: 34rem;
  overflow: hidden;
  margin: 0 auto;
}

/*Div per padding-hack.
  Il padding % si riferisce alla width del .framecontainer*/
div.framecontainer {
  position: relative; /*necessario per position:absolute del child iframe*/
  padding-top: 75%;
}

iframe.vecchiamap {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  border: 2px solid hsl(var(--strongOrange));
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  max-height: 34rem;
}

p.indirizzo {
  max-width: 45rem;
  margin: 2rem auto;
}

/*footer*/
footer {
  background-color: hsla(var(--strongOrange), 0.6);
  border-top: 1px solid hsla(var(--blacklight20), 0.6);
}

div.footersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0;
}

img.footerlogo {
  width: 8rem;
  margin: 0 2rem;
}

a.totop {
  margin: 0 2rem;
}

a.footerlink {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--blacklight20));
  white-space: nowrap;
}

a.footerlink:hover {
  color: hsla(var(--white), 0.6);
}

address.contactinfo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(var(--blacklight20));
  line-height: 2rem;
  margin: 0 2rem;
}

hr.footerhr {
  width: 99%;
  border-top: 1px solid hsla(var(--white), 0.8);
  border-bottom: 0;
  margin: 0;
}

div.social {
  margin: 0 2rem;
}

p.socialline {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(var(--blacklight20));
}

img.logosocial {
  position: relative;
  top: 0.3rem;
}

p.cr{
  font-size: 0.8rem;
  color: hsl(var(--blacklight20));
  padding: 0.3rem 0.2rem;
}

/*---Media Queries*/

/*Desktop and tablet*/
@media only screen and (min-device-width: 800px) {
  html {
    min-width: 800px;
  }

  header {
    min-width: 800px;
  }
}

/*Tablets*/
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  a.navitemdesc {
    font-size: 1.2rem;
  }

  svg.menuicon {
    width: 1.2rem;
    height: 1.2rem;
  }

  img.logonav {
    height: 2.5rem;
  }
}

/*Mobile*/
@media only screen and (max-device-width: 480px) and (orientation: portrait){
  section {
    width: 80%;
    background-color: transparent;
  }

  p.navitemdesc {
    display: none;
  }

  table.menu {
    width: 100%;
    max-width: none;
  }

  img.footerlogo {
    margin: 0 1rem;
  }

  a.totop {
    margin: 0 1rem;
  }

  address.contactinfo {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1rem;
  }

  div.social {
    margin: 0 1rem;
  }
}
