
/*---Global styles---*/
:root {
  text-size-adjust: none; /*block mobile devices trying to auto adjust text-size*/
  --similKhaki: 61, 80%, 90%;
  --lightOrange: 44, 99%, 65%;
  --secColor: 33, 100%, 56%;
  --strongOrange: 26, 98%, 47%;
  --blacklight10: 0, 0%, 10%;
  --blacklight20: 0, 0%, 20%;
  --footerColor: 166, 17%, 72%;
  --white: 0, 0%, 100%;
}

body {
  background-color: hsl(var(--lightOrange));
  background-image: linear-gradient(to right, hsl(var(--lightOrange)),
    hsl(var(--similKhaki)) 10% 90%, hsl(var(--lightOrange)));
}

section {
  width: 70%;
  max-width: 2400px;
  margin: 0 auto;
  background-color: hsl(var(--similKhaki));
  padding: 4.5rem 0; /*making space for navbar and giving space at section start*/
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

address {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

hr.mainhr {
  width: 70%;
  max-width: 2400px;
  border-top: 0.2rem solid hsl(var(--strongOrange));
  border-bottom: 0;
  margin: 0.2rem auto;
}

.sectiontitle {
  font-family: 'Playball', Helvetica, sans-serif;
  text-align: center;
  color: hsl(var(--blacklight10));
  margin-bottom: 2rem;
}

/*--- Layout Galleria ---*/

div.slider {
  width: 100%;
  overflow-x: hidden;
}

div.display {
  width: 1200%;
  display: flex;
}

div.mantainRatio {
  box-sizing: border-box;
  background: hsl(var(--strongOrange));
  border: 0.2rem solid hsl(var(--strongOrange));
  border-radius: 0.5rem;
  width: 8.3333%;
  position: relative;
  padding-top: calc(6.21% - 0.4rem);
  transition: left 1s ease-out 0s;
  overflow: hidden;
}

div.mantainRatio img {
  position: absolute;
  top: 0;
  width: 100%;
}

div.mantainRatio label {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 5%;
  height: 6.6667%; /*Dependant on the div's w/h ratio*/
  background-image: url("./../images/svg/help_orange_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in 0s;
  z-index: 2;
}

div.mantainRatio label img {
  width:100%;
}

div.mantainRatio .listaIngr {
  position: absolute;
  top: -100%;
  width: 100%;
  padding-left: 10%;
  background-color: hsla(var(--lightOrange), 0.5);
  border-bottom: hsl(var(--strongOrange)) solid 0.2rem;
  color: hsl(var(--blacklight10));
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1.2s linear 0s,
    top 0.8s ease-in-out 0s;
  margin: 0;
  z-index: 1;
}

div.mantainRatio input:checked~.listaIngr {
  top: 0;
  opacity: 1;
}

div.mantainRatio input:checked+.checkLabel {
  background-image: url("./../images/svg/cross_orange_white_24dp.svg");
}

div.display input {
  display:none;
}

div.sliderNav {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

/* Works on Firefox */
div.sliderNav {
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--lightOrange), 0.5) hsl(var(--strongOrange));
}

/* Works on Chrome, Edge, and Safari */
div.sliderNav::-webkit-scrollbar {
  height: 0.8rem;
}

div.sliderNav::-webkit-scrollbar-track {
  background: hsla(var(--lightOrange), 0.5);
  border-radius: 0.2rem;
}

div.sliderNav::-webkit-scrollbar-thumb {
  background-color: hsl(var(--strongOrange));
  border-radius: 0.2rem;
}

div.sliderNav::before {
  content: "";
  position: sticky;
  left: 0;
  display: block;
  flex: 0 0 20%;
  padding-top: calc(15% + 2rem);
  background-image: linear-gradient(to right, hsl(var(--similKhaki)) 10%, transparent);
  z-index: 1;
  pointer-events: none;
}

div.sliderNav::after {
  content: "";
  position: sticky;
  right: 0;
  display: block;
  flex: 0 0 20%;
  padding-top: calc(15% + 2rem);
  background-image: linear-gradient(to left, hsl(var(--similKhaki)) 10%, transparent);
  z-index: 1;
  pointer-events: none;
}

div.sliderNav .radioLabel{
  box-sizing: border-box;
  flex: 0 0 20%;
  position: relative;
  left: -10%;  /* Sets the first thumbnail partially under ::before's transparency*/
  padding-top: calc(15% - 0.4rem);
  margin: 1rem 2%;
  border: 0.2rem solid hsl(var(--strongOrange));
  border-radius: 37.5% 62.5% 37.5% 62.5%;
  overflow: hidden;
}

div.sliderNav .radioLabel img {
  position: absolute;
  top:0;
  width: 100%;
}

#radio1:checked~.mantainRatio {
  left: 0;
}

#radio2:checked~.mantainRatio {
  left: -8.33%;
}

#radio3:checked~.mantainRatio {
  left: -16.66%;
}

#radio4:checked~.mantainRatio {
  left: -25.00%;
}

#radio5:checked~.mantainRatio {
  left: -33.33%;
}

#radio6:checked~.mantainRatio {
  left: -41.66%;
}

#radio7:checked~.mantainRatio {
  left: -50.00%;
}

#radio8:checked~.mantainRatio {
  left: -58.33%;
}

#radio9:checked~.mantainRatio {
  left: -66.66%;
}

#radio10:checked~.mantainRatio {
  left: -75.00%;
}

#radio11:checked~.mantainRatio {
  left: -83.33%;
}

#radio12:checked~.mantainRatio {
  left: -91.66%;
}
/*Mobile*/
@media only screen and (max-device-width: 480px) and (orientation: portrait){
  section {
    width: 100%;
    background-color: transparent;
  }

}
