html {
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #494949;
}

a {
  text-decoration: none;
}

/*--Navigation--*/
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 64px;
}

.colmar {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.colmarLogo {
  width: 32px;
}

.colmarText {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.colmar2Half {
  color: silver;
  font-weight: lighter;
}

.topNav {
  margin-right: 24px;
}

.topNav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.topNav ul li a{
  font-size: 18px;
  color: #494949;
}

.topNav ul li:not(:last-child) {
  margin-right: 16px;
}

/*--Banner--*/
#banner {
  display: flex;
  align-items: center;
  background-color: #ddd;
}

#banner img {
  width: calc(60% - 48px);
  margin: 32px 24px;
}

#banner .container {
  margin: 0 24px;
  width: 25%;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px
}

.startLink {
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  font-size: 20px;
  background-color: #494949;
  color: #ddd;
}

/*--Information--*/

#information {
  display: flex;
  background-color: #f5f5f5;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.left img {
  width: calc(100% - 48px);
  margin: 32px 24px;
}

.leftText {
  margin: 0 24px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}

p {
  line-height: 20px;
  margin-bottom: 32px;
}

.cit {
  letter-spacing: normal;
  font-weight: bold;
}

.right {
  border-left: 2px solid silver;
}

.rightSection {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.rightSection img {
  width: 35%;
  margin: 16px;
}

.rightSectionText {
  width: calc(65% - 48px);
  margin: 0 8px;
}

.rightSectionText a {
  color: #09c;
  font-weight: 600;
}

.rightSectionText > *:not(:last-child) {
  margin-bottom: 8px;
}

.rightSection:last-of-type {
  background-color: #ddd;
}

/*--Courses--*/
#courses {
  background-color: #ddd;
}

#courses h2{
  margin: 0;
  padding: 32px;
  font-weight: 800;
  text-align: center;
}

.coursesContainer{
  margin: 0 72px;
  display: flex;
  flex-wrap: wrap;
}

.course {
  flex: 0 1 calc(calc(100% - 64px) / 3);
  background-color: white;
  margin-bottom: 32px;
}

.course:not(:nth-child(3n)){
  margin-right: 32px;
}

.course img {
  width: 100%;
}

.courseText {
  margin: 16px 16px 24px 16px;
}

.courseText > *:not(:last-child) {
  margin-bottom: 8px;
}

.courseText h4, .courseText p {
  color: #888;
}

/*--Thesis--*/
#thesis {
  background-color: #f5f5f5;
}

#thesis h2{
  margin: 0;
  padding: 32px;
  font-weight: 800;
  text-align: center;
}

.flexContainer {
  display: flex;
}

.left video {
  width: calc(100% - 48px);
  margin: 0 24px 24px 24px;
}

/*--Footer--*/
hr {
  margin: 0 8px;
  border-top: 2px solid #ddd;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 96px;
}

footer p {
  font-size: 14px;
  margin: 16px 24px;
}

footer ul {
  display: flex;
  margin: 16px 24px;
}

footer li {
  font-size: 14px;
}

footer li:not(:last-child){
  margin-right: 12px;
}
