html {
  font-family: sans-serif;
  color: #494949;
}

a {
  text-decoration: none;
}

/*--Navigation--*/
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 64px;
}

.colmar {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.colmarLogo {
  width: 32px;
}

.colmarText {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.colmar2Half {
  color: silver;
  font-weight: lighter;
}

.topNav {
  margin-right: 24px;
}

.topNav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.topNav ul li a{
  font-size: 18px;
  color: #494949;
}

.topNav ul li:not(:last-child) {
  margin-right: 16px;
}

/*--Banner--*/
#banner {
  display: flex;
  align-items: center;
  background-color: #ddd;
}

#banner img {
  width: 60%;
  margin: 32px 24px;
}

#banner .container {
  margin-right: 10%;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px
}

.startLink {
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  background-color: #494949;
  color: #ddd;
}
